$text-dark: #403F3D;
$accent: #B0907A;
$light: #E1D4C9;
$border-dark: #665F55;
$border-light: #C1B6AD;

.main {
  padding: 100px 0;
  .main-title {
    max-width: 850px;
    margin: 0 auto 0px auto;
    text-align: center;
  }
  .tabs {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin: 40px 0;
    .tab-item {
      display: flex;
      align-items: center;
      gap: 8px;
      border-radius: 100px;
      padding: 8px 16px 8px 8px;
      border: 1px solid $border-light;
      transition: all .3s ease-in;
      cursor: pointer;
      .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        background: $border-light;
        border-radius: 100px;
      }
    }
    .tab-item:hover {
      background: $border-dark;
      border: 1px solid $border-dark;
    }
    .active {
      background: $border-dark;
      border: 1px solid $border-dark;
    }
  }
  .main-body {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 40px;
    .card-block {
      height: 506px;
      border-radius: 40px;
      border: 1px solid $border-light;
      overflow: hidden;
      position: relative;
      cursor: pointer;
      .card-img {
        width: 310px;
        height: 310px;
        overflow: hidden;
        img {
          transition: all .3s ease-out;
        }
      }
      img {
        width: 100%;
        object-fit: cover;
      }
      .card-offer {
        width: 250px;
        padding: 20px 0 20px 20px;
        .card-subtitle {
          margin: 12px 0 0px 0;
        }
        .price {
          position: absolute;
          bottom: 20px;
        }
      }
    }
    .card-block:hover {
      img {
        width: 350px;
        height: 350px;
        margin: -0px 0 0 -20px;
      }
    }
  }
}

@media only screen and (max-width:768px) {
  .main {
    .main-title {
      max-width: 680px;
    }
    .main-body {
      grid-template-columns: auto auto;
      .card-block {
        width: 310px;
      }
      .card-block:nth-child(5) {
        display: none;
      }
      .card-block:nth-child(6) {
        display: none;
      }
      .card-block:nth-child(7) {
        display: none;
      }
      .card-block:nth-child(8) {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 380px) {
  .main {
    .main-body {
      grid-template-columns: auto;
      gap: 0;
      justify-content: center;
    }
  }
}